{:host "localhost"
 :port 8090
 :postgres
 {:create-if-not-exists? true
  :dbname "srvc"
  :flyway-locations ["classpath:/srvc/server/sql"]
  :host "localhost"
  :port :none
  :socketFactory "org.newsclub.net.unix.AFUNIXSocketFactory$FactoryArg"
  :template-dbname "srvc_template"}
 :postgres-server
 {:init? true
  :tmp-dir? true}
 :proxy
 {:host "localhost"
  :listen-ports [9500 9501 9502 9503 9504 9505 9506 9507 9508 9509]}
 :saml
 {:idp-url "http://localhost:8080/simplesaml/saml2/idp/SSOService.php"}
 :session
 {:secret-key "gM/glaKg0C0ubnVGiNRpbw=="}}
